{% extends 'base.html.twig' %}

{% block title %}Egzaminai{% endblock %}

{% block body %}
    <h1>Egzaminų sąrašas:</h1>
    <a href="{{ path('app_perziuretiVidurki') }}" class="btn btn-primary my-1 float-right">Peržiūrėti bendrą vidurkį</a>
    <table class="table">
        <tr>
            <th>Nr</th>
            <th>Tipas</th>
            <th>Laikas</th>
            <th>Adresas</th>
            <th>Funkcijos</th>
        </tr>
        <tr>
            {% for egzaminas in egzaminai %}
        <tr>
            <td>{{ egzaminas.getEgzaminas.id }}</td>
            <td>{{ egzaminas.getEgzaminas.getEgzaminoTipas.name }}</td>
            <td>{{ egzaminas.getEgzaminas.data|date("Y-m-d", false) }} {{ egzaminas.getEgzaminas.laikas }}</td>
            <td>{{ egzaminas.getEgzaminas.adresas }}</td>
            <td>
                <a href="{{ path('app_perziuretiRezultatus', {slug: egzaminas.id}) }}" class="btn btn-success">Peržiūrėti rezultatus</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>

{% endblock %}
