{% extends 'base.html.twig' %}

{% block title %}Egzaminai{% endblock %}

{% block body %}
    {% if is_granted('ROLE_KLIENTAS') %}
        <h1>Egzaminų sąrašas:</h1>
        <a href="{{ path('app_perziuretiVidurki') }}" class="btn btn-primary my-1 float-right">Peržiūrėti bendrą vidurkį</a>
        <table class="table">
            <tr>
                <th>Nr</th>
                <th>Tipas</th>
                <th>Laikas</th>
                <th>Adresas</th>
                <th>Funkcijos</th>
            </tr>
            <tr>
                {% for egzaminas in egzaminai %}
                    <tr>
                        <td>{{ egzaminas.getEgzaminas.id }}</td>
                        <td>{{ egzaminas.getEgzaminas.EgzaminoTipas.name }}</td>
                        <td>{{ egzaminas.getEgzaminas.data|date("Y-m-d", false) }} {{ egzaminas.getEgzaminas.laikas }}</td>
                        <td>{{ egzaminas.getEgzaminas.adresas }}</td>
                        <td>
                            <a href="{{ path('app_perziuretiRezultatus', {slug: egzaminas.id}) }}" class="btn btn-success">Peržiūrėti rezultatus</a>
                        </td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    {% elseif is_granted('ROLE_INSTRUKTORIUS') %}
        <h1>Egzaminų sąrašas:</h1>
        <table class="table">
            <tr>
                <th>Nr</th>
                <th>Tipas</th>
                <th>Laikas</th>
                <th>Adresas</th>
                <th>Funkcijos</th>
            </tr>
            <tr>
                {% for egzaminas in egzaminai %}
            <tr>
                <td>{{ egzaminas.getEgzaminas.id }}</td>
                <td>{{ egzaminas.getEgzaminas.EgzaminoTipas.name }}</td>
                <td>{{ egzaminas.getEgzaminas.data|date("Y-m-d", false) }} {{ egzaminas.getEgzaminas.laikas }}</td>
                <td>{{ egzaminas.getEgzaminas.adresas }}</td>
                <td>
                    <a href="{{ path('app_perziuretiRezultatus', {slug: egzaminas.id}) }}" class="btn btn-success">Peržiūrėti informaciją</a>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    {% elseif is_granted('ROLE_ADMIN')%}
        <h1>Egzaminų sąrašas:</h1>
        <a href="{{ path('app_siustiLaiska') }}" class="btn btn-primary my-1 float-right">Siųsti laišką</a>
        <table class="table">
            <tr>
                <th>Nr</th>
                <th>Tipas</th>
                <th>Laikas</th>
                <th>Adresas</th>
                <th>Funkcijos</th>
            </tr>
            {% for egzaminas in egzaminai %}
                <tr>
                    <td>{{ egzaminas.id }}</td>
                    <td>{{ egzaminas.EgzaminoTipas.name }}</td>
                    <td>{{ egzaminas.data|date("Y-m-d", false) }} {{ egzaminas.laikas }}</td>
                    <td>{{ egzaminas.adresas }}</td>
                    <td>
                        <a href="{{ path('app_itrauktiEgzamina', {slug: egzaminas.id}) }}" class="btn btn-success">Įtraukti į tvarkaraštį</a>
                        <a href="{{ path('app_redaguotiEgzamina', {slug: egzaminas.id}) }}" class="btn btn-primary">Redaguoti</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}
{% endblock %}
