{% extends 'base.html.twig' %}

{% block title %}Filialai{% endblock %}

{% block body %}
    <h1>Filialų sąrašas:</h1>
    <a href="{{ path('app_filialaiPrideti') }}" class="btn btn-primary my-1 float-right">Pridėti filialą</a>
    <table class="table table-hover">
        <tr>
            <th>Filialas</th>
            <th>Adresas</th>
            <th>Miestas</th>
            <th>Telefonas</th>
            <th></th>
        </tr>
        {% for filialas in filialai %}
            <tr>
                <td>{{ filialas.pavadinimas }}</td>
                <td>{{ filialas.adresas }}</td>
                <td>{{ filialas.miestas.pavadinimas }}</td>
                <td>{{ filialas.telefonoNumeris }}</td>
                <td>
                    <a href="{{ path('app_filialaiMarsrutai') }}" class="btn btn-sm btn-success">Maršrutai</a>
                    <a href="{{ path('app_filialoInstruktoriai') }}" class="btn btn-sm btn-success">Darbuotojai</a>
                    <a href="{{ path('app_filialaiRedaguoti') }}" class="btn btn-sm btn-primary">Redaguoti</a>
                    <a href="{{ path('app_filialaiIstrinti') }}" class="btn btn-sm btn-danger js-delete-btn">Ištrinti</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.js-delete-btn').on('click', function () {
                return confirm('Ar tikrai norite istrinti filiala?');
            });
        });
    </script>
{% endblock %}
