{% extends 'base.html.twig' %}

{% block title %}Klientai{% endblock %}

{% block body %}
    <h1>Klientų sąrašas:</h1>
    <a href="{{ path('app_klientaiPrideti') }}" class="btn btn-primary my-1 float-right">Pridėti klientą</a>

    <table class="table">
        <tr>
            <th>Nr</th>
            <th>Asmens kodas</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Gimimo metai</th>
            <th>Telefono numeris</th>
        </tr>
        <tr>
            {% for klientas in klientai %}
        <tr>
            <td>{{ klientas.id }}</td>
            <td>{{ klientas.asmensKodas }}</td>
            <td>{{ klientas.vardas }}</td>
            <td>{{ klientas.pavarde }}</td>
            <td>{{ klientas.gimimoMetai|date("Y-m-d", false) }}</td>
            <td>{{ klientas.telefonoNumeris }}</td>

            <td>
                <a href="{{ path('app_klientaiIstrinti') }}" class="btn btn-danger js-delete-btn">Ištrinti</a>
                <a href="{{ path('app_klientaiProfilis') }}" class="btn btn-success">Peržiūrėti profilį</a>
                <a href="{{ path('app_klientaiTvarkarastis') }}" class="btn btn-success">Peržiūrėti tvarkaraštį</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>

{% endblock %}
