{% extends 'base.html.twig' %}

{% block title %}Profilis{% endblock %}

{% block body %}
    <h1>Profilis</h1>


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_klientaiRedaguoti', {'klientasID':klientas.id}) }}" class="btn btn-sm btn-primary">Redaguoti</a>
    {%  elseif is_granted('ROLE_KLIENTAS')%}
        <a href="{{ path('app_klientaiRedaguoti', {'klientasID':app.user.id}) }}" class="btn btn-sm btn-primary">Redaguoti</a>

    {% if is_granted('ROLE_KLIENTAS') %}
        <a href="{{ path('app_klientaiRedaguoti', {'klientasID': klientas.id}) }}" class="btn btn-sm btn-primary">Redaguoti</a>

    {% endif %}

    <table class="table" style="width:30%">

        <tr>
            <th>Vardas</th>
            <td>{{ klientas.vardas }}</td>
        </tr>
        <tr>
            <th>Pavardė</th>
            <td>{{ klientas.pavarde }}</td>
        </tr>
        <tr>
            <th>Asmens Kodas</th>
            <td>{{ klientas.asmensKodas }}</td>
        </tr>
        <tr>
            <th>Gimimo data</th>
            <td>{{ klientas.gimimoMetai|date("Y-m-d", false) }}</td>
        </tr>
        <tr>
            <th>Telefono numeris</th>
            <td>{{ klientas.telefonoNumeris }}</td>
        </tr>
        <tr>
            <th>El. paštas</th>
            <td>{{ klientas.getNaudotojoID.email }}</td>
        </tr>
    </table>

{% endblock %}