{% extends 'base.html.twig' %}

{% block title %}Profilis{% endblock %}

{% block body %}
    <h1>Profilis</h1>

    <table class="table">

        <tr>
            <th>Nr</th>
            <th>Asmens kodas</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Gimimo metai</th>
            <th>Telefono numeris</th>
            <th>El. paštas</th>


        </tr>
        <tr>

        <tr>
            <td>{{ klientas.id }}</td>
            <td>{{ klientas.asmensKodas }}</td>
            <td>{{ klientas.vardas }}</td>
            <td>{{ klientas.pavarde }}</td>
            <td>{{ klientas.gimimoMetai|date("Y-m-d", false) }}</td>
            <td>{{ klientas.telefonoNumeris }}</td>
            <td>{{ app.user.email }}</td>

            <a href="{{ path('app_klientaiRedaguoti', {'klientasID':klientas.id}) }}" class="btn btn-sm btn-primary">Redaguoti</a>
            <td>
            </tr>

    </table>

{% endblock %}