{% extends 'base.html.twig' %}

{% block title %}Profilis{% endblock %}

{% block body %}
    <h1>Profilis</h1>
    <a href="{{ path('app_klientaiRedaguoti') }}" class="btn btn-primary my-1 float-right">Redaguoti profilį</a>
    <table class="table">

        <tr>
            <th>Nr</th>
            <th>Asmens kodas</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Gimimo metai</th>
            <th>Telefono numeris</th>
            <th>El. paštas</th>
        </tr>
        <tr>
            {% for klientas in klientai %}
        <tr>
            <td>{{ klientas.id }}</td>
            <td>{{ klientas.asmensKodas }}</td>
            <td>{{ klientas.vardas }}</td>
            <td>{{ klientas.pavarde }}</td>
            <td>{{ klientas.gimimoMetai|date("Y-m-d", false) }}</td>
            <td>{{ klientas.telefonoNumeris }}</td>
<td>{{ klientas.naudotojoId. }}</td>
            <td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}