{% extends 'base.html.twig' %}

{% block title %}Progresas{% endblock %}

{% block body %}
    <a style="margin-left: 15px; text-decoration: none" href="{{ path('app_klientaiTvarkarastis') }}">
        <span>&#10229;</span> Grįžti atgal</a>
    <h1>Progreso peržiūra</h1>
    <br/>
    <div style="margin-left: 10px">

        <h5>Važiavimų balai:
        </h5>
        {% set count = 0 %}
        {% set vid = 0 %}
            {% for pravaziavimas in pravaziavimai %}
                {{pravaziavimas.data|date("Y-m-d H:i") }}
                balas:
                {{ pravaziavimas.ivertinimas }}
                {% set count = count + pravaziavimas.ivertinimas %}
                <div></div>
            {% endfor %}
        {% set vid = count/pravaziavimai|length%}
      Pravažiavimų kiekis: {{ pravaziavimai|length }}
        <div> Jūsų įvertinimų vidurkis: {{ vid }}</div>





        <br/>

    </div>
{% endblock %}