{% extends 'base.html.twig' %}

{% block title %}{{ purpose }} {{ object }}{% endblock %}

{% block body %}
    <h1>{{ purpose }} {{ object }}</h1>
    {% if error is defined %}
        <span class="invalid-feedback d-block">
            <span class="d-block">
                <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                <span class="form-error-message">{{ error }}</span>
            </span>
        </span>
    {% endif %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-success" value="Vykdyti">
    {{ form_end(form) }}

{% endblock %}
