{% extends 'base.html.twig' %}

{% block title %}Instruktoriai{% endblock %}

{% block body %}
    <h1>Instruktorių sąrašas:</h1>
    <a href="{{ path('app_instruktoriaiPrideti') }}" class="btn btn-primary my-1 float-right">Pridėti Instruktorių</a>

    <table class="table">
        <tr>
            <th>Nr</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Tel. numeris</th>
            <th>Vairavimo stažas</th>
        </tr>
        <tr>
            {% for instruktorius in instruktoriai %}
        <tr>
            <td>{{ instruktorius.id }}</td>
            <td>{{ instruktorius.vardas }}</td>
            <td>{{ instruktorius.pavarde }}</td>
            <td>{{ instruktorius.telefono_numeris }}</td>
            <td>{{ instruktorius.vairavimo_stazas_metais }}</td>

            <td>
                <a href="{{ path('app_instruktoriaiProfilis', {'insId':instruktorius.id}) }}" class="btn btn-success">Peržiūrėti profilį</a>
                <a href="{{ path('app_instruktoriaiTvarkarastis', {'insId':instruktorius.id}) }}" class="btn btn-success">Tvarkaraštis</a>
                <a href="{{ path('app_instruktoriaiAlga', {'insId':instruktorius.id}) }}" class="btn btn-success my-1">Skaičiuoti algą</a>
                <a href="{{ path('app_instruktoriaiRedaguoti', {'insId':instruktorius.id}) }}" class="btn btn-primary">Redaguoti</a>
                <a href="{{ path('app_instruktoriaiIstrinti', {'insId':instruktorius.id}) }}" class="btn btn-danger js-delete-btn">Ištrinti</a>
            </td>
        </tr>
        {% endfor %}
        </tr>
    </table>
{% endblock %}