{% extends 'base.html.twig' %}

{% block title %}Instruktoriai{% endblock %}

{% block body %}
   {% if is_granted('ROLE_ADMIN') %}
        <h1>Instruktorių sąrašas:</h1>
        <a href="{{ path('app_instruktoriaiPrideti') }}" class="btn btn-primary my-1 float-right">Pridėti Instruktorių</a>

        <table class="table">
            <tr>
                <th>Nr</th>
                <th>Asmens kodas</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Funkcijos</th>
            </tr>
            <tr>
                {% for instruktorius in instruktoriai %}
            <tr>
                <td>{{ instruktorius.id }}</td>
                <td>{{ instruktorius.asmens_kodas }}</td>
                <td>{{ instruktorius.vardas }}</td>
                <td>{{ instruktorius.pavarde }}</td>
                <td>
                    <a href="{{ path('app_instruktoriaiProfilis', {'insId':instruktorius.id}) }}" class="btn btn-success">Peržiūrėti profilį</a>
                    <a href="{{ path('app_instruktoriaiIstrinti', {'insId':instruktorius.id}) }}" class="btn btn-danger js-delete-btn">Ištrinti</a>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    {% endif %}

    {% if is_granted('ROLE_KLIENTAS') %}
        <h1>Instruktorių sąrašas:</h1>
        <table class="table">
            <tr>
                <th>Nr</th>
                <th>Asmens kodas</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Funkcijos</th>
            </tr>
            <tr>
                {% for instruktorius in instruktoriai %}
            <tr>
                <td>{{ instruktorius.id }}</td>
                <td>{{ instruktorius.asmens_kodas }}</td>
                <td>{{ instruktorius.vardas }}</td>
                <td>{{ instruktorius.pavarde }}</td>
                <td>
                    <a href="{{ path('app_instruktoriaiProfilis', {'insId':instruktorius.id}) }}" class="btn btn-success">Peržiūrėti profilį</a>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    {% endif %}

    {% if is_granted('ROLE_INSTRUKTORIUS') %}
        <h1>Instruktorius:</h1>
        <table class="table">
            <tr>
                <th>Nr</th>
                <th>Asmens kodas</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Funkcijos</th>
            </tr>
            <tr>
                {% for instruktorius in instruktoriai %}
            <tr>
                <td>{{ instruktorius.id }}</td>
                <td>{{ instruktorius.asmens_kodas }}</td>
                <td>{{ instruktorius.vardas }}</td>
                <td>{{ instruktorius.pavarde }}</td>
                <td>
                    <a href="{{ path('app_instruktoriaiProfilis', {'insId':instruktorius.id}) }}" class="btn btn-success">Peržiūrėti profilį</a>
                    <a href="{{ path('app_instruktoriaiTvarkarastis', {'insId':instruktorius.id}) }}" class="btn btn-success">Tvarkaraštis</a>
                    <a href="{{ path('app_instruktoriaiAlga', {'insId':instruktorius.id}) }}" class="btn btn-primary my-1">Skaičiuoti algą</a>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.js-delete-btn').on('click', function () {
                return confirm('Ar tikrai norite ištrinti instruktorių?');
            });
        });
    </script>
{% endblock %}