{% extends 'base.html.twig' %}

{% block title %}Instruktoriaus tvarkaraštis{% endblock %}

{% block body %}
    <h1>Instruktoriaus tvarkaraštis</h1>
     <td>
        <a href="{{ path('app_instruktoriaiRedaguotiTvarkarasti', {'tvarkId':tvark.id}) }}" class="btn btn-primary my-1 float-right">Redaguoti tvarkaraštį</a>
    </td>
    <br/>
    <h5>Pravažiavimai</h5>
    <table class="table">
    
        <tr>
            <th>Pravažiavimo pradzia</th>
            <th>Pravažiavimo pabaiga</th>
            <th>Įvertinimas</th>
        </tr>

        <tr>
            {% for pravaziavimas in pravaziavimai %}
            <tr>
            
            <td>{{ pravaziavimas.pradzia|date("Y-m-d G:i:s") }}</td>
            <td style="text-align: left">{{ pravaziavimas.pabaiga|date("Y-m-d G:i:s") }}</td>
            <td style="text-align: left">{{ pravaziavimas.ivertinimas }}</td>
            </tr>
            {% endfor %}
        </tr>

    </table>

    <h5>Egzaminai</h5>
    <table class="table">
    
        <tr>
            <th>Tipas</th>
            <th>Data ir laikas</th>
            <th>Adresas</th>
        </tr>

        <tr>
            {% for egzaminas in egzaminai %}
            <tr>
            <td>{{ egzaminas.name }}</td>
            <td>{{ egzaminas.data|date("Y-m-d G:i:s") }}</td>
            <td style="text-align: left">{{ egzaminas.adresas }}</td>
            </tr>
            {% endfor %}
        </tr>

    </table>

{% endblock %}
